.task-box {
    margin: 0.5em;
}

.delete-task {
    margin-left: 10px;
}
.task-title {
    margin-right: 10px;
    margin-bottom: 0;
}

.task-name-field-container {
    width: 80%;
    display: inline-block;
}
